<!--
 File name = Dhruv Patel COMP229 Assignment1 
 Student Name = Dhruv Patel
 Student ID = 301292893
 Date = 9th February 2023
-->
<%-include partials/header.ejs %>
<%-include partials/main_nav.ejs %> 

<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Dhruv Patel's <%= title %></h1>
      Welcome to My about page.
      <div class="project-section">
        <meta charset="utf-8">
              <div class="container">
                <div class="row">
                  <div class="col align-self-center">
     <p> My Full name is Dhruv M. Patel. I am currently pursuing Software engineering degree from Centennail College. </p>
     <p> My Photo is right Below. </p>
      <img src="/Assets/images/DSC_8277.JPG">
      <p>Thanks for viewing my About Page.</p>
    </div>
  </div>
</div>

</div>
    </div>

  </main>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs %>