<!--
 File name = Dhruv Patel COMP229 Assignment1 
 Student Name = Dhruv Patel
 Student ID = 301292893
 Date = 9th February 2023
-->
<%-include partials/header.ejs %>
<%-include partials/main_nav.ejs %> 

<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Dhruv Patel's <%= title %></h1>
        Welcome to My Contact page.
        <div class="panel">
            My Contact Number is +1 1234567890. Thanks...
        </div>
    
    </div>
  </main>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs %>