<!--
 File name = Dhruv Patel COMP229 Assignment1 
 Student Name = Dhruv Patel
 Student ID = 301292893
 Date = 9th February 2023
-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%=paratxt %></h1>
      <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
      <h1>  Welcome to Dhruv Patel's webpage </h1><br>
<div class="project-section">
  <meta charset="utf-8">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
               <p> Please click in the link to ready about me <a href="/about"> About</a></p>
              
              </div>
          </div>
        </div>

    </div>
     <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>